* {
    margin: 0;
    padding: 0;
}

.body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    height: 100vh;
    margin: 0px auto;
    background-color: #1C1C1E;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    color: #F9F5E1;
}

header {
    text-align: center;
    height: 50px;
    padding-top: 10px;
}

.block-choice {
    width: 100%;
    /* height: 2vw; */
    display:flex;
    flex-flow: row wrap;
}

.choice {
    width: 49%;
    padding-left: 10px;
    min-height: 200px;
    /* background-color: #F9F5E1; */
    text-align: left;
    display: flex;
    justify-content: start;
    flex-direction: column;

}

.choice h2 {
    margin: 10px;
}

.choice-course {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.choice-course-row {
    /* margin-left: 10px; */
}

.choice-course li {
      position: relative;
      list-style: none;
      text-align: center;
      margin: 10px;
}
.choice-course li label {
        position: relative; 
        cursor: pointer;
}

.choice-course li label input[type="checkbox"] {
          position: absolute;
          opacity: 0;
        }

.choice-course li label input:checked ~ .choice-button {
          /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
                inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
                color:#fffbed;
}

.choice-course li label input:hover ~ .choice-button {
    /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
          inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
          color:#fab81b;
}

.choice-button {
          width: 160px;
          /* height: 60px; */
          /* background: #ebf5fc; */
          display: flex;
          /* justify-content: center;
          align-items: center; */
          color: #aaaaab;
          font-size: 20px;
          font-weight: 700;
          /* box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1); */
          /* border-radius: 10px; */
          
        }

.choice-difficulty {
        display: flex;
        /* justify-content: center; */
        flex-flow: row nowrap;
        }
.choice-difficulty-row {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 190px;
}

.choice-difficulty li {
    position: relative;
      list-style: none;
      text-align: center;
      margin: 15px;
}

.choice-difficulty li label {
    position: relative; 
    cursor: pointer;
}

.choice-difficulty li label input {
      position: absolute;
      opacity: 0;
    }

.choice-difficulty li label input:checked ~ .choice-difficulty-btn {
      /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
            inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
            color: #fffbed;
}

.choice-difficulty li label input:hover ~ .choice-difficulty-btn {
    /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
          inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
          color: #fab81b;
}

.choice-difficulty-btn {
    /* width: 60px; */
    /* height: 60px; */
    /* background: #ebf5fc; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaab;
    font-size: 20px;
    font-weight: 700;
    /* box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1); */
    /* border-radius: 10px; */
}


.statistic {
    width: 49%;
    /* min-width: 400px; */
    min-height: 200px;
    background-color: #1C1C1E;
    text-align: center;
}

.statistic h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #e9e2bf;
    margin: 10px auto 23px;
}

.statistic ul {
    border-top: 2px solid #333335;
    margin-bottom: 23px;
}

.statistic ul li {
    height: 31px;
    display: -ms-flexbox;
    display: flex;
    /* -ms-flex-align: center; */
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    line-height: normal;
    border-bottom: 1px solid #333335;
    color: #a29e87;
    padding: 0 5px;
}

.statistic ul li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    /* -ms-flex: 1; */
    /* flex: 1; */
    margin-right: 10px;
}

.statistic ul li span:nth-child(1) {
    /* min-width: 60%; */
    text-align: left;
    justify-self:flex-start; 
    margin-right: auto;
}

.statistic ul li span:nth-child(2) {
    min-width: 80px;
}

.statistic ul li span:nth-child(3) {
    min-width: 26px; 
    height: 26px;
}

.rank-m {
    background-image: url("../img/rank_m.png");
    background-size: 100% 100%;
}

.rank-01 {
    background-image: url("../img/rank_01.png");
    background-size: 100% 100%;
}

.rank-02 {
    background-image: url("../img/rank_02.png");
    background-size: 100% 100%;
}

.rank-03 {
    background-image: url("../img/rank_03.png");
    background-size: 100% 100%;
}


.block-question {
    background-color: blue;
    min-height: 100px;
}

.close {
    display: none;
}

.block-list {
    background-color: cornflowerblue;
    min-height: 100px;
}
/* 
. {

}

. {

} */

@media screen and (max-width: 600px) {
    .choice {
   
        width: 100vw;
        min-width: 360px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .statistic {
        width: 100vw;
        min-width: 360px;
    }
}