* {
    margin: 0;
    padding: 0;
}

.body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    min-height: 100vh;
    margin: 0px auto;
    background-color: #1C1C1E;
    font-family: "Roboto Condensed","Arial Narrow",Arial,sans-serif;
    color: #F9F5E1;
}

header {
    text-align: center;
    height: 50px;
    padding-top: 10px;
    min-width: 400px;
}

.block-choice {
    width: 100%;
    /* height: 2vw; */
    display:flex;
    flex-flow: row wrap;
}

.choice {
    width: 49%;
    padding-left: 10px;
    min-height: 200px;
    /* background-color: #F9F5E1; */
    text-align: left;
    display: flex;
    justify-content: start;
    flex-direction: column;

}

.choice h2 {
    margin: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #e9e2bf;
    margin: 10px 10px 23px;
}

.choice-course {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.choice-course-row:nth-child(3) {
    margin-bottom: 23px;
}

.choice-course li {
      position: relative;
      list-style: none;
      text-align: center;
      margin: 10px;
}
.choice-course li label {
        position: relative; 
        cursor: pointer;
}

.choice-course li label input[type="checkbox"] {
          position: absolute;
          opacity: 0;
        }

.choice-course li label input:checked ~ .choice-button {
          /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
                inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
                color:#fffbed;
}

.choice-course li label input:hover ~ .choice-button {
    /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
          inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
          color:#fab81b;
}

.choice-button {
          width: 160px;
          /* height: 60px; */
          /* background: #ebf5fc; */
          display: flex;
          /* justify-content: center;
          align-items: center; */
          color: #aaaaab;
          font-size: 20px;
          font-weight: 700;
          /* box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1); */
          /* border-radius: 10px; */
          
        }

.choice-difficulty {
        display: flex;
        /* justify-content: center; */
        flex-flow: row nowrap;
        }
.choice-difficulty-row {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 190px;
}

.choice-difficulty li {
    position: relative;
      list-style: none;
      text-align: center;
      margin: 15px;
}

.choice-difficulty li label {
    position: relative; 
    cursor: pointer;
}

.choice-difficulty li label input {
      position: absolute;
      opacity: 0;
    }

.choice-difficulty li label input:checked ~ .choice-difficulty-btn {
      /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
            inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
            color: #fffbed;
}

.choice-difficulty li label input:hover ~ .choice-difficulty-btn {
    /* box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
          inset 3px 3px 5px rgba(0, 0, 0, 0.1); */
          color: #fab81b;
}

.choice-difficulty-btn {
    /* width: 60px; */
    /* height: 60px; */
    /* background: #ebf5fc; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaaaab;
    font-size: 20px;
    font-weight: 700;
    /* box-shadow: -2px -2px 5px rgba(255, 255, 255, 1), 3px 3px 5px rgba(0, 0, 0, 0.1); */
    /* border-radius: 10px; */
}


.statistic {
    width: 49%;
    /* min-width: 400px; */
    min-height: 200px;
    background-color: #1C1C1E;
    /* text-align: center; */
}

.statistic h2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #e9e2bf;
    margin: 10px 5px 23px;
}

.statistic ul {
    border-top: 2px solid #333335;
    margin-bottom: 23px;
}

.statistic ul li {
    height: 31px;
    display: -ms-flexbox;
    display: flex;
    /* -ms-flex-align: center; */
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    line-height: normal;
    border-bottom: 1px solid #333335;
    color: #a29e87;
    padding: 0 5px;
}

.statistic ul li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    /* -ms-flex: 1; */
    /* flex: 1; */
    margin-right: 10px;
}

.statistic ul li span:nth-child(1) {
    /* min-width: 60%; */
    text-align: left;
    justify-self:flex-start; 
    margin-right: auto;
}

.statistic ul li span:nth-child(2) {
    min-width: 40px;
    margin-right: 10%;
}

.statistic ul li span:nth-child(3) {
    min-width: 26px; 
    height: 26px;
}

.rank-m {
    background-image: url("../img/rank_m.png");
    background-size: 100% 100%;
}

.rank-01 {
    background-image: url("../img/rank_01.png");
    background-size: 100% 100%;
}

.rank-02 {
    background-image: url("../img/rank_02.png");
    background-size: 100% 100%;
}

.rank-03 {
    background-image: url("../img/rank_03.png");
    background-size: 100% 100%;
}


.block-question {
    padding: 20px 10%; 
    min-height: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.question {
    display: flex;
    flex-wrap: wrap;
    margin: 40px auto;
    /* max-width: 700px; */
    /* width: 80%; */
    justify-content: center;
    /* padding-right: 10%; */
}

.question-text {
    font-family: "WarheliosBold_Web","Arial Narrow",Tahoma,arial,sans-serif;
    color: #fff;
    font-size: 48px;
    line-height: 50px;
    font-weight: normal;
    letter-spacing: -1.6px;
    text-transform: uppercase;

    /* margin-right: 20px; */
    width: 33%;
    min-width: 200px;
}

.question-input {
    height: 50px;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;

    font-family: "WarheliosRegular_Web","Arial Narrow",Tahoma,arial,sans-serif;
    background: rgba(0,0,0,0.7);
    border: solid 1px rgba(102,102,102,0.7);
    border-radius: 1px;
    box-sizing: border-box;
    color: #666;
    font-size: 48px;
    line-height: 48px;
    height: 50px;
    width: 33%;
    min-width: 200px;
    /* min-width: 200px; */
    padding: 12px 20px;
    opacity: 1;
    transition: background-color .2s,border-color .2s,color .2s;

    margin-bottom: 10px;
}

.question-button {
    font-family: WarheliosBold_Web,Arial Narrow,Tahoma,arial,sans-serif;
    background-color: #f26402;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 27px;
    height: 35px;
    position: relative;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    transition: color .2s,width .2s,font-size .2s,background-color .2s;

    padding: 0 46px;
    height: 50px;
    font: 17px WarheliosBold_Web,Arial Narrow,Tahoma,arial,sans-serif;
    line-height: 50px;
    width: 66%;
    max-width: 600px;
    margin-left: 10px;
}

.question-button:hover {
    background-color: #f78c03;
    color: #fff;
    text-decoration: none;
}

.question-button:active {
    -webkit-animation-name: enter;
    animation-name: enter;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
}



.close {
    display: none;
}

.block-list {
    /* background-color: cornflowerblue; */
    min-height: 100px;
    padding: 30px 20px;
    color: #e9e2bf;


}

.block-list ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    max-height: 500px;
}

.result-espression {
    line-height: 48px;
    /* background-color: cornflowerblue; */
    width: 18%;
    min-width: 135px;
    border-top: 1px solid #333335;
    padding-left: 10px;
    list-style-type: none;
    /* border-left: 10px #66af4c; */
    /* height: 48px; */
}

.result-espression:hover {
    color: #66af4c;
    background-image: linear-gradient(to right,rgba(102,175,76,.13) 0%,transparent 63%);
    border-color: rgba(90,148,69,.2);
    border-left: solid 4px #66af4c;
    padding-left: 6px;
}

.result-espression span:nth-child(1) {
    margin-right: 12px;
}

.result-espression span:nth-child(3) {
    float: right;
    background-image: url('../img/check-mark.png');
    height: 24px;
    width: 24px;
    background-size: 100% 100%;
    margin-top: 12px;
}
.result-error span:nth-child(3) {
    background-image: url('../img/x-mark.png')
}
.result-error:hover {
    color: #f25322;
    /* background-image: linear-gradient(to right,rgba(102,175,76,.13) 0%,transparent 63%); */
    /* border-color: rgba(90,148,69,.2); */
    border-left: solid 4px #f25322;
    /* padding-left: 6px; */
}
/* 
. {

}

. {

} */

@media ( max-width: 600px ) {
    .choice {
        width: 100%;
        /* min-width: 360px; */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .statistic {
        width: 100%;
        /* min-width: 360px; */
    }

    .block-list ul {
        max-height: 1000px;
    }
}

@keyframes enter {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(.98);
    }
    100% {
        transform: scale(1);
}